<div class="events" id="<%= dom_id event %>">
  <p class="title">
    Title:
    <%= event.title %>
  </p>

  <p class="description">
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p class="price">
    <strong>Price:</strong>
    <%= event.price %>
  </p>

  <p class="date">
    <strong>Date:</strong>
    <%= event.date %>
  </p>

</div>
